{% extends "base.html" %}
{% load bootstrap i18n %}
{% block content %}

    {% include "header.html" %}

    <div class="container">
        <h3>Your files</h3>

        <a href="{% url "userfile_create" %}" class="btn btn-primary">{% trans "Add file" %}</a>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Pending</th>    
                <th>Annotations</th>

                <th>Action</th>    
                <th>Download</th>    
            </tr>
        {% for userfile in object_list %}
        
            <tr>
                <td>{{ userfile.name }}</td>
                <td>{{ userfile.filetype }}</td>
                <td>{{ userfile.annotation.pending }}</td>
                <td>{{ userfile.annotation.result | safe }}</td>
                <td><a href="{% url "userfile_edit" userfile.pk %}">{% trans "Edit" %}</a></td>
                <td><a href="{{userfile.data_file.url}}">{% trans "Download" %}</a></td>
            </tr>

        {% endfor %}
        </table>


    </div>
{% endblock %}