{% extends "base.html" %}
{% load bootstrap i18n %}
{% block content %}

    {% include "header.html" %}

    <div class="container" ng-app="angularApp">
        <h3>Your tasks</h3>

        <a href="{% url "usertask_create" %}" class="btn btn-primary">{% trans "Add task" %}</a>

        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Task ID</th>
                <th>State</th>
                <th>Result</th>    
                <th>Action</th>    
                <th>Run</th>    
                
            </tr>
        {% for usertask in object_list %}
        
            <tr task-bound task-id="{{ usertask.task_id }}" task-state="{{ usertask.state|default:"NOT-RUN" }}">
                <td>{{ usertask.id }}</td>
                <td>{{ usertask.task_id }}</td>
                
                <td>{% verbatim %}
                    {{ taskStateInternal }}
                    {% endverbatim %}
                </td>
                
                <th>{{ usertask.result }}</th>    
                <td><a href="{% url "usertask_edit" usertask.pk %}">{% trans "Edit" %}</a></td>
                <td><a href="{% url "usertask_run" usertask.pk %}">{% trans "Run it" %}</a></td>
                
            </tr>

        {% endfor %}
        </table>


    </div>
{% endblock %}