{% extends "base.html" %}
{% load bootstrap i18n %}

{% block content %}

    {% include "header.html" %}
    
      <div class="container">
        <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>{% trans "Password reset" %}</h4>
            </div>
            <div class="panel-body">
                <p>
                    {% trans "Use this form to insert a new password for your account" %}
                </p>
                
                <form class="form-horizontal" action="" method="POST">
                    {% csrf_token %}
                    {{ form|bootstrap_horizontal  }}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-danger" type="submit">
                               {% trans "Save password" %}
                            </button>      
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{% url "login" %}">Login</a>
            </div>
        </div>

        </div>
        </div>

        
        
        
      </div>
    

{% endblock%}