{% extends "base.html" %}
{% load bootstrap i18n %}

{% block content %}

    {% include "header.html" %}
    {% include "jumbo_small.html" %}
    
      <div class="container">
        <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

        <p class="lead">
            {% trans "We'll send instruction about recovering your password to your email address." %}
        </p>
        <hr>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>{% trans "New password request" %}</h4>
            </div>
            <div class="panel-body">
                
                <form class="form-horizontal" action="" method="POST">
                    {% csrf_token %}
                    {{ form|bootstrap_horizontal  }}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-danger" type="submit">
                                {% trans "Request password reset" %}
                            </button>      
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                {% trans "Got a login?" %} <a href="{% url "login" %}">{% trans "Sign in" %} </a>
            </div>
        </div>

        </div>
        </div>        

        
        
        
      </div>
    

{% endblock%}