{% load i18n %}
<p>
{% trans 
"Dear user,
someone requested a new password for your account on the site ..."
%}
</p>

<p>
{% trans  
"To confirm this request and choose a new password your account, click on the following link or copy and paste in your browser address bar:"" %}<br><br>

<a href="{{ registration_url }}">{{ registration_url }}</a>
</p>

<p>
{% trans "If you haven't requested a password change, please ignore this email." %}

<br>
<br>


----------------
<br>
{% trans "This email account is not monitored." %}

</p>