{% extends "base.html" %}
{% load bootstrap i18n %}

{% block content %}

    {% include "header.html" %}
    {% include "jumbo_small.html" %}
    
      <div class="container">
        <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>{% trans "Verification email sent" %}</h4>
            </div>
            <div class="panel-body">
                <p class="lead">
                    {% trans "We just sent you an email." %}
                </p>
                <p class="lead">
                    {% trans "Check your inbox and follow the link to get your account on this site." %}
                   
                </p>
                <p>
                    <br>
                    <a class="btn btn-default" href="{% url "home" %}">{% trans "Back to home page" %}</a>
                </p>
                
            </div>
        </div>

        </div>
        </div>

        
      </div>

    

{% endblock%}