{% load bootstrap i18n %}

<div class="container">
    
    <h2>Dashboard</h2>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">Files</div>
                <div class="panel-body">
                    <ul class="nav">
                        <li>
                            <a class="btn btn-primary" href="{% url "userfile_list" %}">Manage files</a>
                        </li>
                        <li>
                            <a href="{% url "userfile_create" %}" class="btn btn-success">{% trans "Add file" %}</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">Tasks</div>
                <div class="panel-body">
                    <ul class="nav">
                        <li><a class="btn btn-primary" href="{% url "usertask_list" %}">Manage tasks</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>

</div>