<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p class="lead text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, id libero consectetur laudantium quisquam vel sit aspernatur hic vitae voluptate nostrum dolore fugit porro assumenda odit modi sunt adipisci voluptatem.
            </p>
        </div>
    </div>

    <div class="hspacer"></div>

    <div class="row">
        <div class="col-sm-6">
            
            <div class="panel panel-info">
                <div class="panel-heading">
                    Tracking
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, ex perspiciatis vitae aliquid porro consequatur veritatis quam commodi minus ullam neque ad vero explicabo eos quas tempore quod adipisci eum.
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            
            <div class="panel panel-info">
                <div class="panel-heading">
                    Report
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, nesciunt cumque quaerat repellendus sapiente veritatis sed molestias repellat id maiores. Recusandae adipisci error sapiente obcaecati dolore optio eum. Nostrum, dolor.
                </div>
            </div>
        </div>    
    </div>
</div>