{% extends "base.html" %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}ajax_upload/css/ajax-upload-widget.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Tasks</h2>
        
        
         <form id="uploadForm" action="{% url "tasks_monitoraggio.views.upload" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="fileInput" class="input-file" name="upload" type="file">
            <span class="upload-message"></span>
            <input type="submit" value="Upload" />
        </form>
        <!--
        <script>
        var message = '';
        var options = {
            url: '/upload/',
            error: function(response) {
                message = '<span class="error">We\'re sorry, but something went wrong. Retry.</span>';
                $('.upload-message').html(message);
                $('fileInput').val('');
            },
            success: function(response) {
                message = '<span class="' + response.status + '">' + response.result + '</span> ';
                message = ( response.status == 'success' ) ? message + response.fileLink : message;
                $('.upload-message').html(message);
                $('fileInput').val('');
            }
        };
        $('#uploadForm').ajaxSubmit(options);
        </script>
        -->

        <button type="button" id="ajaxsub" class="btn btn-primary btn-lg" disabled="disabled"
            data-path="">Launch me</button>
      </div>
    </div>


    


    <div class="container">
        <ul class="nav nav-tabs">
            <li><a href="#pending" data-toggle="tab">Running</a></li>
            <li><a href="#completed" data-toggle="tab">Completed</a></li>
            <li><a href="#failed" data-toggle="tab">Failed</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="pending">
                
            </div>
            <div class="tab-pane" id="completed">
                
            </div>
            <div class="tab-pane" id="failed">
                
            </div>
    
        </div>
        
    </div>
    
{% endblock %}
    



{% block extra_js %}

<script src="{{ STATIC_URL }}js/jquery.form.js"></script>


<!--
<script>
    $(function() {
        var path = null;
        
        var uploader = new AjaxUploadWidget($('#id_import_file'), {
            // options
            onComplete : function(data){
                $("#ajaxsub").attr('data-path', data).prop('disabled', false)
                .addClass("btn-success");
            },
            onError : function(){
                $("#ajaxsub").attr('data-path', "").prop('disabled', true)
                .removeClass("btn-success");
            },
            onRemove : function(){
                $("#ajaxsub").attr('data-path', "").prop('disabled', true)
                .removeClass("btn-success");
            },
        });

    var statusUrl = '{% url "tasks_status" %}';
    var statusUrlBase = '{% url "tasks_status_bytype" "xxxx" %}';
    statusUrlBase = statusUrlBase.replace("xxxx/", '');
    var submitUrl = '{% url "task_import_submit" %}';


    $("#ajaxsub").on('click', function(evt){
        $.post(submitUrl, {'path':$(this).data('path') }).then(function(response){
            
            console.log("dsd", response);
            uploader.uploadDone({});
            $("#ajaxsub").attr('data-path', "").prop('disabled', true).removeClass("btn-success");

            return false;
        })

    });

    

    var updateStatus = function(){
        $.get(statusUrlBase+"completed").then(function(response){
            $("#completed").html(response);
        });
        $.get(statusUrlBase+"xx").then(function(response){
            $("#pending").html(response);
        })
        $.get(statusUrlBase+"failed").then(function(response){
            $("#failed").html(response);
        })
    }
    updateStatus();
    var statusHandler = setInterval(function(){

        updateStatus();

    }, 2000);
    




        
    });
</script>
-->
<script>
    

</script>


{% endblock %}